:root {
    --primary: #0e4970;
    --primary-light: #ABDEFF;
    --dark: #0D222E;
    --medium: #9FABB5;
    --light: #F6F6FF;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 3px 10px;
}

/* STYLE */

.btn--primary {
    background-color: var(--primary-light);
    color: var(--primary);
    border: 3px solid var(--primary-light);
    box-shadow: 0 0 10px var(--primary);
}

.btn--primary:hover {
    background-color: var(--primary);
    color: var(--dark);
    border: 3px solid var(--primary);
    text-shadow: 0 0 10px var(--light);
    transition: 0.1s ease-in;
}

.btn--primary-rev {
    background-color: var(--primary);
    color: var(--primary-light);
    border: 3px solid var(--primary);
}

.btn--primary-rev:hover {
    background-color: var(--primary);
    color: var(--dark);
    border: 3px solid var(--primary);
    text-shadow: 0 0 10px var(--light);
    transform: scale(1.05);
    transition: 0.1s ease-in;
}

.btn--primary-rev-arrow {
    background-color: var(--primary);
    color: var(--primary-light);
    border: 3px solid var(--primary);
    transition: 0.3s ease-out;
}

.btn--primary-rev-arrow:hover {
    background-color: var(--primary);
    color: var(--dark);
    border: 3px solid var(--primary);
    text-shadow: 0 0 10px var(--medium);
    transform:  translateY(-10px);
    transition: 0.3s ease-out;
}

.btn--primary-rev-arrow:focus {
    background-color: var(--primary);
    color: var(--primary-light);
    border: 3px solid var(--primary);
    transition: 0.3s ease-out;
    transform:  translateY(0);
}

.btn--next {
    background-color: var(--light);
    color: var(--primary);
    border: 3px solid var(--light);
    transition: 0.3s ease-out;
}

.btn--next:hover {
    background-color: var(--primary);
    color: var(--dark);
    border: 3px solid var(--primary);
    text-shadow: 0 0 10px var(--light);
    transform:  translateY(10px);
    transition: 0.3s ease-out;
}

.btn--next:focus {
    background-color: var(--light);
    color: var(--primary);
    border: 3px solid var(--light);
    transition: 0.3s ease-out;
    transform:  translateY(0px);
}

.btn--previous {
    background-color: var(--primary-light);
    color: var(--primary);
    border: 3px solid var(--primary-light);
    transition: 0.3s ease-out;
}

.btn--previous:hover {
    background-color: var(--primary);
    color: var(--dark);
    border: 3px solid var(--primary);
    text-shadow: 0 0 10px var(--light);
    transform:  translateY(-10px);
    transition: 0.3s ease-out;
}

.btn--previous:focus {
    background-color: var(--primary-light);
    color: var(--primary);
    border: 3px solid var(--primary-light);
    transition: 0.3s ease-out;
    transform:  translateY(0px);
}

.btn--start {
    background-color: var(--primary-light);
    color: var(--primary);
    border: 3px solid var(--primary-light);
    box-shadow: 0 0 10px var(--primary);
    transition: 0.3s ease-out;
}

.btn--primary-rev-previous:hover {
    background-color: var(--primary);
    color: var(--dark);
    border: 3px solid var(--primary);
    box-shadow: 0 0 10px var(--primary);
    text-shadow: 0 0 10px var(--light);
    transform:  translateY(-10px);
    transition: 0.3s ease-out;
}

.btn--red {
    background-color: #f5cbc6;
    color: #BD4B59;
    border: 3px solid #f5cbc6;
    box-shadow: 0 0 10px var(--primary);
}

.btn--red:hover {
    background-color: #BD4B59;
    color: var(--dark);
    border: 3px solid #BD4B59;
    text-shadow: 0 0 10px var(--light);
    transition: 0.1s ease-in;
}

.btn--red-text {
    color: #BD4B59;
    text-shadow: 0 0 10px var(--light);
    background-color: transparent;
}

.btn--red-text:hover {
    color: var(--dark);
    text-shadow: 0 0 10px var(--light);
    transition: 0.1s ease-in;
}

.btn--primary-text {
    color: var(--primary);
    text-shadow: 0 0 10px var(--light);
    background-color: transparent;
}

.btn--primary-text:hover {
    color: var(--dark);
    text-shadow: 0 0 10px var(--light);
    transition: 0.1s ease-in;
}

.btn--mobile-menu {
    background-color: var(--primary);
    color: var(--primary-light);
    border: 3px solid var(--primary);
    width: 100%;
    margin: 0;
    border-radius: 0;
    transition: 0.3s ease-out;
}

.btn--mobile-menu:hover {
    background-color: var(--primary-light);
    color: var(--primary);
    border: 3px solid var(--primary-light);
    transition: 0.3s linear;
}

.btn--tech {
    background-color: transparent;
    color: var(--dark);
    border: 3px solid var(--dark);
    text-shadow: 0 0 10px var(--light);  
    cursor: default; 
}

/* SHADOW */

.btn--dark {
    box-shadow: 0 0 10px var(--medium);
}

.btn--light {
    box-shadow: 0 0 10px var(--primary);
}


/* SHAPE */

.btn--square {
    border-radius: 10px;
}

.btn--round {
    border-radius: 50%;
    padding: 5px 5px;
    width: 50px;
    height: 50px;
} 

.btn--mobile {
    border-radius: 0;
}

/* SIZE */

.btn--small {
    padding: 0px 10px;
    font-size: 10px;
    font-weight: 600;
    margin: 5px;
}

.btn--medium {
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}

.btn--large {
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 800;
    margin: 5px;
}

.btn--large-onlytext {
    font-size: x-large;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.btn--large-mobile {
    padding: 15px 25px;
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}