/* SKILLS */

.skills-page-container {
    background: linear-gradient(to top, #0B3B5C 15px, #ABDEFF 80%, #F6F6FF);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-page-content {
    display: flex;
    width: 95vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--dark);
}

.skills-logos {
    display: flex;
    width: 95vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.skills-logo {
    display: flex;
    width: 10vw;
    align-items: center;
    justify-content: center;
}