/* PROJECTS */

.projects-page-container {
    background: linear-gradient(to bottom, #0B3B5C 15px, #ABDEFF 80%, #F6F6FF );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.projects-page-content {
    display: flex;
    width: 95vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--dark);
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

    .project-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30vw;
        padding: 10px;
    }

        .project-text {
            display: flex;
            flex-direction: column;
            text-align: justify;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            padding: 10px;
        }

        .project-text h2 {
            padding-bottom: 30px;
            text-shadow: 0 0 10px var(--light);  
            text-align: center;
        }

        .project-icons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
            width: 30vw;
            font-size: 50px;
            padding-top: 30px;
        }

        .project-icon {
            display: flex
        }

    .project-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: calc(40vw /1.4728);
        margin: 20px;
        position: relative;
        transition: 0.5s ease;
        border: 5px solid var(--primary);
        background-color: var(--primary);
    }

    .project-img-container:hover .project-img {
        opacity: 0.3;
        transition: 0.5s ease;
    }

    .project-img-container:hover .project-links {
        opacity: 1;
        transition: 0.5s ease;
    }

        .project-img {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            max-height: 100%;
            opacity: 1;
            position: absolute;
            transition: 0.5s ease;
        }

        .project-links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 40vw;
            height: calc(40vw /1.4728);
            position: absolute;
            transition: 0.5s ease;
            opacity: 0;
            top: 0%;
            left: 0%;
        }


@media screen and (max-width: 960px) {

    .project-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        align-items: center;
    }

    .project-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85vw;
        padding: 10px;
    }

    .project-text {
        padding: 0px;
    }


    .project-icons {
        width: 80vw;
        padding-top: 20px;
        
    }

    .project-img-container {
        width: 80vw;
        height: calc(80vw /1.4728);
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border: none;
    }

    .project-img-container:hover .project-img {
        opacity: 0.5;
    }

    .project-img-container:hover .project-links {
        opacity: 1;
    }

        .project-img {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            max-height: 100%;
            opacity: 1;
            position: relative;
            border: 5px solid var(--primary);
            opacity: 0.6;
        }

        .project-links {
            width: 80vw;
            height: calc(80vw /1.4728);
            opacity: 1;
            top: 10px;
            left: 10px;
        }

}

@media screen and (max-width: 470px) {

    .project-links {
        display: flex;
        flex-direction: column;
    }

}