/* ABOUT */

.about-page-container {
    background: linear-gradient(to top, #0e4970 15px, #ABDEFF 80%, #F6F6FF );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-page-content {
    display: flex;
    width: 95vw;
    max-width: 1500px;
    min-height: 70vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: var(--dark);
}

.about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding-right: 50px;
    padding-left: 10px;
}

.about-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.about-text p {
    padding-bottom: 10px;
}

.about-text a:hover {
    color: var(--primary-light)
}

.about-text a {
    text-decoration: none;
    color: var(--primary)
}

.about-text h2 {
    padding-bottom: 30px;
    text-shadow: 0 0 10px var(--light);  
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.profile-img {
    border-radius: 50%;
    border: 5px solid var(--primary);
    width: 35vw;
}



@media screen and (max-width: 960px) {

    .about-page-content {
        display: flex;
        width: 95vw;
        flex-direction: column;
    }

    .about-text {
        display: flex;
        width: 85vw;
        flex-direction: column;
        text-align: justify;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }

    .about-img {
        width: 85vw;    
    }

    .profile-img {
        width: 75vw;
    }

    .about-text-container {
        padding-right: 0;
        padding-bottom: 50px;
    }

}

@media screen and (max-width: 400px) {

    .about-text {
        font-size: large;
    }

}