vh:root {
    --primary: #0B3B5C;
    --primary-light: #ABDEFF;
    --dark: #0D222E;
    --medium: #9FABB5;
    --light: #F6F6FF;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
    text-align: center;
}

.title.light {
    color: var(--light);
    text-shadow: 0 0 10px var(--primary);
}

.title.dark {
    color: var(--primary);
    text-shadow: 0 0 10px var(--light);
}

.scroll-container {
    margin-top: auto;
    padding-top: 100px;
    bottom: 20px;
    position: sticky;
    position: -webkit-sticky;
}

.back-to-top {
    display: flex;
    justify-content: flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: calc(100vh - 70px);
    padding-right: 10px;
    height: 0;
    z-index: 10;
}


@media screen and (max-width: 960px) {



}

@media screen and (max-width: 400px) {

    .title {
        font-size: large;
        text-align: center;
    }

}